.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 65px;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row a, .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}


.tabs {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    position: relative;
    background: white;
    padding: 20px;
    padding-bottom: 80px;
    width: 100%;
    box-shadow: 0 10px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 0px;
    min-width: 240px;
    min-height: auto !important;
}

    .tabs input[name="tab-control"] {
        display: none;
    }

    .tabs .content section h2,
    .tabs ul li label {
        font-family: "Montserrat";
        font-weight: bold;
        font-size: 14px;
        color: #428BFF;
    }

    .tabs #ulTopControls {
        list-style-type: none;
        padding-left: 0;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        margin-bottom: 20px;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: end;
        align-items: flex-end;
        flex-wrap: wrap;
    }

        .tabs #ulTopControls li {
            box-sizing: border-box;
            -webkit-box-flex: 1;
            flex: 1;
            width: 25%;
            padding: 0 10px;
            text-align: center;
        }

    .tabs ul li label {
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        color: #000000;
        padding: 5px auto;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        cursor: pointer;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        white-space: nowrap;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        .tabs ul li label br {
            display: none;
        }

        .tabs ul li label svg {
            fill: #000000;
            height: 1.2em;
            vertical-align: bottom;
            margin-right: 0.2em;
            -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
        }

        .tabs ul li label:hover, .tabs ul li label:focus, .tabs ul li label:active {
            outline: 0;
            color: #bec5cf;
        }

            .tabs ul li label:hover svg, .tabs ul li label:focus svg, .tabs ul li label:active svg {
                fill: #bec5cf;
            }

    .tabs .slider {
        position: relative;
        width: 25%;
        -webkit-transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
        transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
    }

        .tabs .slider .indicator {
            position: relative;
            width: 50px;
            max-width: 100%;
            margin: 0 auto;
            height: 4px;
            background: #428BFF;
            border-radius: 1px;
        }

    .tabs .content {
        margin-top: 30px;
    }

        .tabs .content section {
            display: block;
            -webkit-animation-name: content;
            animation-name: content;
            -webkit-animation-direction: normal;
            animation-direction: normal;
            -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
            -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
            -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
            line-height: 1.4;
        }

            .tabs .content section h2 {
                color: #428BFF;
                display: none;
            }

                .tabs .content section h2::after {
                    content: "";
                    position: relative;
                    display: block;
                    width: 30px;
                    height: 3px;
                    background: #428BFF;
                    margin-top: 5px;
                    left: 1px;
                }


.slider.controls {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}

.slider.playlist {
    -webkit-transform: translateX(100%) !important;
    transform: translateX(100%) !important;
}

.slider.sync {
    -webkit-transform: translateX(200%);
    transform: translateX(200%);
}

.slider.settings {
    -webkit-transform: translateX(300%);
    transform: translateX(300%);
}

@media (max-width: 1000px) {
    .tabs ul li label {
        white-space: initial;
    }

        .tabs ul li label br {
            display: initial;
        }

        .tabs ul li label svg {
            height: 1.5em;
        }
}

@media (max-width: 600px) {
    .tabs ul li label {
        padding: 5px;
        border-radius: 5px;
    }

        .tabs ul li label span {
            display: none;
        }

    .tabs .slider {
        display: none;
    }

    .tabs .content {
        margin-top: 20px;
    }

        .tabs .content section h2 {
            display: block;
        }

    .tablabel.active {
        cursor: default;
        color: #428BFF;
    }

        .tablabel.active svg {
            fill: #428BFF;
        }

    @media (max-width: 600px) {
        .tablabel.active {
            background: rgba(0, 0, 0, 0.08);
        }
    }
}

#deviceSelect {
    margin-bottom: 10px;
}