@using Dynaframe3.Client.Services
@inject DevicesService Service 
@inject StateContainer State

<button class="@Class" @onclick="ClickAsync">@Text</button>

@code {
    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public string Command { get; set; }

    [Parameter]
    public string Class { get; set; } = "btn btn-primary btn-lg";

    protected virtual Task ClickAsync()
        => Service.ExecuteCommandAsync(State.CurrentDeviceId, Command);
}
