@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Dynaframe3.Server.Pages.HomeModel
@{
    var version = System.Reflection.Assembly.GetExecutingAssembly().GetName()?.Version?.ToString();
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Dynaframe | @version</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="./css/style.css" asp-append-version="true">
    <link href="./css/bootstrap.min.css" rel="stylesheet" asp-append-version="true">
    <link href="./css/jsLists.css" rel="stylesheet" asp-append-version="true">
    <script src="./js/bootstrap.min.js" asp-append-version="true"></script>
    <link rel="apple-touch-icon" sizes="57x57" href="ico/apple-icon-57x57.png" asp-append-version="true">
    <link rel="apple-touch-icon" sizes="60x60" href="ico/apple-icon-60x60.png" asp-append-version="true">
    <link rel="apple-touch-icon" sizes="72x72" href="ico/apple-icon-72x72.png" asp-append-version="true">
    <link rel="apple-touch-icon" sizes="76x76" href="ico/apple-icon-76x76.png" asp-append-version="true">
    <link rel="apple-touch-icon" sizes="114x114" href="ico/apple-icon-114x114.png" asp-append-version="true">
    <link rel="apple-touch-icon" sizes="120x120" href="ico/apple-icon-120x120.png" asp-append-version="true">
    <link rel="apple-touch-icon" sizes="144x144" href="ico/apple-icon-144x144.png" asp-append-version="true">
    <link rel="apple-touch-icon" sizes="152x152" href="ico/apple-icon-152x152.png" asp-append-version="true">
    <link rel="apple-touch-icon" sizes="180x180" href="ico/apple-icon-180x180.png" asp-append-version="true">
    <link rel="icon" type="image/png" sizes="192x192" href="ico/android-icon-192x192.png" asp-append-version="true">
    <link rel="icon" type="image/png" sizes="32x32" href="ico/favicon-32x32.png" asp-append-version="true">
    <link rel="icon" type="image/png" sizes="96x96" href="ico/favicon-96x96.png" asp-append-version="true">
    <link rel="icon" type="image/png" sizes="16x16" href="ico/favicon-16x16.png" asp-append-version="true">
    <link rel="manifest" href="ico/manifest.json" asp-append-version="true">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="ico/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href="Dynaframe3.Client.styles.css" rel="stylesheet" asp-append-version="true">
</head>
<body>
    <header id="header">
        <div class="logo" style="text-align:left;"><img src="images/logo.png" width="75" height="75" style="text-align:left;" /></div>
        <nav class="title">
            <h9>Dynaframe</h9>

        </nav>


        <nav class="menu">
            <ul>
                <li>Version: @version</li>
            </ul>
        </nav>


    </header>
    <div id="app">Loading...</div>

    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
    <script src="./js/jsLists.js" asp-append-version="true"></script>
    <script>
        function setupList(id) {
            var list = document.getElementById(id);
            if (list.firstElementChild.getAttribute("class").indexOf('jslist-li') === -1) {
                JSLists.createTree(id);
            }
        }
        
        function scrollTop() {
            document.documentElement.scrollTop = 0;
        }
    </script>
    <script src="_framework/blazor.webassembly.js"></script>
</body>

</html>
